@import "../common.tcss";

.modify-btn-container {
 display: inline;
}

.del-btn-container {
  display: inline;
}

.input-area {
  padding-top:3%;
  background-color: #e0e0e0;
  padding-bottom:3%;
}

.input-description {
  padding-left: 4%;
  padding-top: 1%;
}

.input-box {
  margin: auto;
  display: block;
  width: 98%;
}

.input-box-container {
}
